.login_page_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 23%;
  padding: 15px 10px;
  background-color: #fff;
  border-radius: 5px;
  transition: transform 0.3s;
}
.login_page_forgot_password_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 50%;
  padding: 2rem 1.5rem;
  background-color: #c4cce56c;
  border-radius: 5px;
  transition: transform 0.3s;
  align-self: center;
  margin: 5vw;
}
.login_page_forgot_password_card div {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-between;
  width: 100% !important;
  margin-top: 2rem;
}

.login_page_reset_password_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 70%;
  padding: 2rem 1.5rem;
  background-color: #fff;
  border-radius: 5px;
  transition: transform 0.3s;
  margin-top: 5rem;
  margin: 5vw;
}
.login_page_reset_password_card div {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-between;
  width: 100% !important;
  margin-top: 1rem;
}

.wrap_login_card {
  /* width: 960px; */
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 60%;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}
.login_items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  align-self: center;
}
.login_items div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  height: fit-content;
  justify-content: center;
  width: 80%;
}

.account_nav_item_first_card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 31.7vw;
  /* padding: 15px 10px; */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, .2);
  transition: transform .3s;
  text-decoration: none;
  height: 15vw !important;
  margin-top: 3vw;
  cursor: pointer;
}
.account_nav_item_first_card_link{
  text-decoration: none;
  text-align: center;
}
.account_nav_item_first_card:hover {
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, .2);
  transform: translateY(-10px);
}

.account_nav_item_second_card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  /* padding: 15px 10px; */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, .2);
  transition: transform .3s;
  text-decoration: none;
  height: 15vw !important;
  margin-top: 1.5vw;
  cursor: pointer;
}
.account_nav_item_second_card_link{
  text-decoration: none;
  text-align: center;
}
.account_nav_item_second_card:hover {
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, .2);
  transform: translateY(-10px);
}


.article_card_div {
  text-decoration: none;
  background-size: cover;
  background-position: center;
  font-size: 1.3vw;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.333);
  width: 20%;
  height: 50vh;
  cursor: pointer;
  /* border-radius: 1vw; */
  transition: transform 250ms;
  margin: 1.5vw;
  padding-bottom: 1vw;
}

.article_card_div:hover {
  transform: translateY(-10px);
}

.article_card_link {
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}
.article_card_label{
  margin-top: 0.7vw;
  text-align: left;
}
.article_card_main{
  display: flex;
  flex-direction: column;
  margin-left: 0.9vw;
}

.article_badge{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 0.4vw;
  font-size: 0.7vw !important;
}

.article_creation_div{
  margin-top: 0.8vw;
  display: flex;
  flex-direction: row;
}
.article_creation_data{
  display: flex;
  flex-direction: column;
  font-size: 0.9vw;
  text-align: left;
  margin-left: 0.5vw;
}
.article_creation_img{
width: 2vw;
height: 2vw;
align-self: center;
}
.article_creation_label{
  font-weight: bold;
}
.section_card_div{
  background-color: transparent;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 72vw;
  justify-content: space-between;
}
.section_card{
  background-color: transparent;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 72vw;
  justify-content: space-between;
}
.section_card_text{
  width: 40vw;
}
.section_card_text{
  width: 40vw;
  align-self: flex-start;
}
.section_card h1{
  color: rgb(15, 27, 156);
  font-size: 3vw;
  text-align: left;
}
.section_card h2{
  margin-top: 0.5vw;
  color: rgb(66, 66, 66);
  font-size: 2vw;
  text-align: left;
}