.login_card_image {
  height: 47vw;
  width: 50%;
  /* margin-top: 4vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 85%;
}
.navbar_personal_image {
  height: 2.4vw;
  width: 2.3vw;
  background-color: transparent;
  margin-right: 1vw;
  background-size: cover;
}
.navbar_logout_image {
  height: 1.5vw;
  width: 1.5vw;
  background-color: transparent;
  display: center;
  cursor: pointer;
  margin-right: 1vw;
  margin-left: 1vw;
}

.sidebar_link_img {
  height: 2vw !important; 
  width: 2vw !important;
  background-color: transparent;
  display: center;
  cursor: pointer;
  margin-right: 0.1vw;
  margin-left: 0vw;
}
.navbar_logout_image :hover {
  height: 1.7vw;
  width: 1.7vw;
  background-color: rgba(0, 0, 0, 0.742);
  cursor: pointer;
}

.profile_intro_image{
  height: 9vw;
  width:25vw;
  background-color: transparent;
  margin-right: 1vw;
}
.profile_card_image{
  height: 5vw;
  width: 5vw;
  background-size: cover;
  display: inline-block;
  border-radius: 50vw;
}
.profile_modal_image{
  height: 18vw;
  width: 18vw;
  background-size: cover;
  display: inline-block;
  border-radius: 50vw;
  align-self: center;
}
.change_profile_picture_img{
  width:12vw;
  height: 12vw;
  background-size: cover;
  cursor:not-allowed !important;
  align-self: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
  border-radius: 1.6vw;
}
.change_profile_picture_list_img{
  width:7.7vw;
  min-width:7.7vw ;
  height: 7.7vw;
  background: transparent;
  border: 1px gray solid;
  cursor:pointer !important;
  align-self:flex-start;
  margin: 1vw;
  opacity: 90%;
}
.change_profile_picture_list_img:hover{
  height: 9vw;
  width: 9vw;
  background: rgb(243, 239, 239);
  cursor:pointer !important;
  align-self:flex-start;
  opacity: 100%;
}

.account_item_card_image{
  height:5vw;
  width:5vw;
  margin-top: 0.4vw;
  display: center;
  border-radius: 50vw;
  background-size: cover;
  cursor: pointer;
  margin-right: 1vw;
  align-self: center;
}
.account_header_image{
  height:13vw;
  width:13vw;
  margin-top: 0.4vw;
  display: center;
  border-radius: 50vw;
  background-size: cover;
  cursor: pointer;
  margin-right: 1vw;
  align-self: center;
}
.nav_item_card_image{
  width: 7vw;
  height: 7vw;
}

.section_card_image{
  height: 20vw;
  width: 20vw;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.section_modal_add_pic_img{
  width:12vw;
  height: 12vw;
  background-size: cover;
  cursor:not-allowed !important;
  align-self: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
  border-radius: 1.6vw;
}