.change_phone_labeled_input_div {
  width: fit-content;
  height: fit-content;
  padding: 1vw;
  display: flex;
  flex-direction: column;
}

.change_phone_labeled_input_div span {
  margin-bottom: 1rem;
}
.change_phone_button_input {
  display: flex;
  flex-direction: row;
  padding-top: 1vw;
  justify-content: space-between;
}
.change_phone_inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}
.change_phone_inputs div {
  justify-content: left;
  width: fit-content;
  display: flex;
  align-content: center;
  margin-right: 0.5%;
  margin-left: 0.2%;
}
.change_phone_inputs button {
  float: left !important;
}
