
input{
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    outline: none;
}
.profile_input{

        font-family: Roboto,Arial,sans-serif;;
        font-size: 2vw;
        line-height: 1 !important;
        margin-bottom: 0 !important;
        width: 100%;

}
.form-floating{
    width: 100%;
    height: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
/* .form-floating input{
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
} */
.form-control{
margin-left: 0 !important;
}
.form-floating>.form-select~label {
    opacity: .99 !important;
    transform: scale(.60) translateY(-0.35rem) translateX(0.15rem) !important;
    background-color: white;
    width: fit-content;
    padding: 0.2rem !important;
    margin-top: -0.62rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: rgb(103, 102, 102);
    font-size: 1.4rem !important;
}
/* scale(.60) translateY(-0.75rem) translateX(0.15rem) */
.form-select{
    border: none !important;
    padding: 0.155rem 2.25rem 0.375rem 0.75rem !important;
}

.form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    /* opacity: .65;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem); */
    opacity: .99 !important;
    transform: scale(.60) translateY(-0.35rem) translateX(0.15rem) !important;
    background-color: white;
    width: fit-content;
    padding: 0.2rem !important;
    margin-top: -0.62rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: rgb(103, 102, 102);
    font-size: 1.4rem !important;}

.form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}