.navbar{
    width: 100%;
    height: 4vw;
    background-color: #292961;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    box-shadow: 4px 4px 20px 0px rgba(221, 218, 211, 300);
    box-sizing: border-box;
    position: fixed !important;
}