.navbar_content {
  width: 82%;
  height: 3vw;
  background-color: transparent;
  display: flex;
  justify-content: right;
  align-items: center;
  float: right;
  display: flex;
  flex-direction: row;
}
