.profile_basic_info_photo_modal{
width: 100% ;
height: 100%;
}

.profile_basic_info_add_photo_modal{
width: 100% ;
height: 100%;
}

.profile_basic_info_name_modal{
    width: 100% ;
    height: 100%;
}
.profile_basic_info_name_modal div{
    margin-bottom: 0.5% !important;
}
