.registration_template{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    width: 35%;
    height: 550px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-top: 0;
    padding-bottom: 20px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', monospace;
}

.registration_photo_template{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    width: 40%;
    height: 650px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-top: 0;
    padding-bottom: 20px;
    border-radius: 3px;
    background-color: aliceblue;
    font-family: 'Courier New', monospace;
}