.profile_header h1{
    margin-top: 2vw;
    color: rgb(7, 7, 39);
    font-size: 2vw;
    text-align: center;
}
.profile_card_item_text{
    text-align: left;
    color: rgb(32,33,36);
    width: 44vw;
    font: 400 0.9VW Helvetica,Arial,sans-serif;
}
.profile_card_photo_item_text{
    font-size: 1.3vw;
    text-align: left;
    color: rgb(95,99,104);
    width: 40vw;
    font: 400 0.9vw Helvetica,Arial,sans-serif;
}
.change_name_text{
    text-align: left !important;
    color: rgb(0, 0, 0);
    font: 400 1.3vw Helvetica,Arial,sans-serif;
}
.change_name_paragraph{
    text-align: left !important;
    color: rgb(95,99,104);
    font: 400 1vw Helvetica,Arial,sans-serif;
}

.change_birthday_text{
    text-align: left !important;
    color: rgb(0, 0, 0);
    font: 400 1.3vw Helvetica,Arial,sans-serif;
}
.change_birthday_paragraph{
    text-align: left !important;
    color: rgb(95,99,104);
    font: 400 1vw Helvetica,Arial,sans-serif;
}

.change_email_paragraph{
    text-align: left !important;
    color: rgb(95,99,104);
    font: 400 1vw Helvetica,Arial,sans-serif;
}
.add_email_paragraph{
    text-align: left !important;
    color: rgb(95,99,104);
    font: 400 1vw Helvetica,Arial,sans-serif;
    padding-bottom: 1vw;
    padding-top: 1vw;
    flex-wrap: wrap;
}
.add_email_paragraph{
    text-align: left !important;
    color: rgb(95,99,104);
    font: 400 1vw Helvetica,Arial,sans-serif;
    padding-top: 1vw;
    flex-wrap: wrap;
}
.add_phone_number_paragraph{
    text-align: left !important;
    color: rgb(95,99,104);
    font: 400 2vw Helvetica,Arial,sans-serif;
    padding-bottom: 1vw;
}

.add_article_text{
    text-align: left !important;
    color: rgb(0, 0, 0);
    font: 400 1.3vw Helvetica,Arial,sans-serif;
}

.add_article_paragraph{
    text-align: left !important;
    color: rgb(95,99,104);
    font: 400 1vw Helvetica,Arial,sans-serif;
}